# Nivel de error: 0: PRODUCCION 1: DESARROLLO 2: DEBUG
ERROR_LEVEL=0 
PORT=5000
JWT_SECRET="..."
TOKEN_EXPIRE=31557600000

# Configuración de conexión a la base de datos
SERVER_NAME="TU_SERVIDOR_SQL\instancia"
DB_USER="user"
DB_PWD="password"
DB_NAME="DBNAME"
SERVER_IP="127.0.0.1"

# Credenciales únicas para el acceso de la API Local
API_USER=service_ccom
API_PASSWORD_SALT= tu_codigo_salt
API_PASSWORD_HASH= tu_codigo_hash

# Configuración de conexión a la API de Unidigital
UNIDIGITAL_BASE_URL=https://
UNIDIGITAL_USER= tu_usuario_unidigital
UNIDIGITAL_PASSWORD=tu_contraseña 
PROCESSING_BATCH_SIZE=100 # Tamaño del lote de procesamiento para la API de Unidigital

# Establecer el primer documento a procesar por tipo de documento
FIRST_DOC_NUMBER_FACT=0001
FIRST_DOC_NUMBER_NCR=0001
FIRST_DOC_NUMBER_NDB=0001